@font-face {font-family: 'NotoSansCJKkr-Bold';
src: url("font/NotoSansCJKkr-Bold.otf") format('opentype');}
@font-face {font-family: 'NotoSansCJKkr-Medium';
src: url("font/NotoSansCJKkr-Medium.otf") format('opentype');}
@font-face {font-family: 'NotoSansCJKkr-Regular';
src: url("font/NotoSansCJKkr-Regular.otf") format("opentype");}
@font-face {font-family: 'NotoSansCJKkr-Thin';
src: url("font/NotoSansCJKkr-Thin.otf") format("opentype");}

*{padding: 0; margin: 0}
body{overflow-x: hidden; font-family: 'NotoSansCJKkr-Medium'; width: 100%; text-align: center}
ul{list-style: none}
.inner{width: 1280px; margin: 0 auto}

header{background-image: url(../images/subimg/sub_head.png); background-repeat: no-repeat; background-size: contain; background-color: #d56672; height: 850px; background-position: center; margin-bottom: 33px}
.sub_pc{background-image:url(../images/subimg/sub_headpc2.png);background-repeat: no-repeat; height: 850px; background-position: center; position: relative; background-size: contain; width: 1095px }
.sub_pc>video{position: absolute; top: 150px; left: 92px; width: 908px}

p{border: 1px solid #161616; border-radius: 50px;  font-size: 1.6rem; background: #fff; width: 200px; margin: 0 auto}
p:hover{background-color: #d46671; border: 1px solid #d46671; transition: 1s}
p:hover a{color: #fff; transition: 1s}

a{display: block; text-decoration: none; color: #363636; padding: 10px 35px;}

h2{font-size: 2.8rem; padding: 60px}

.sec img{width: 45%; height: 100%; margin-bottom: 80px}
#sec1 h2, #sec5 h2{padding-top: 120px}
#sec1 img{width: 45%}
#sec4{margin-bottom: 30px}
#sec5{background-color: #ebebe9}

#sec7 img{width: 100%; display: block}
footer img{width: 100%; display: block; height: calc(100vh);}

footer{position: relative;}
p.f_view{border:none; margin: 0px; position: absolute; top: 58%; left: 44.4%}


/*프2*/
body.p2 header{background-color: #86cef2;}

p.p2:hover{background-color: #363493; border: 1px solid #363493; transition: 1s}

body.p2 #sec3 img{width: 30%}


/*프3*/
body.p3 header{background-color: #f38920;}

body.p3 p:hover{background-color: #f2622f; border: 1px solid #f2622f; transition: 1s}

body.p3 footer>p.f_view{top: 47%; left:40%}


/*프4*/
body.p4 header{background-color: #5E00CE;}

body.p4 p:hover{background-color: #5E00CE; border: 1px solid #5e00ce; transition: 1s}

body.p4 footer>p.f_view:hover{background-color:rgba(0,0,0,0.5); border: none; transition: 1s}
body.p4 footer>p.f_view{top: 50%; left: 45%}



@media only screen and (max-width: 1580px) {
    
header{background-size: 105%; height: 850px;}     
     
.sub_pc{height: 850px; background-size: contain; width: 995px }
.sub_pc>video{top: 170px; left: 70px; width: 853px}

.sec img{width: 65%; height: 100%; margin-bottom: 70px}
#sec1 h2, #sec5 h2{padding-top: 120px}
#sec1 img{width: 60%} 
     
footer img{height: 100%;}
p.f_view{border:none; margin: 0px; position: absolute; top: 58%; left: 39.3%}   
     
body.p4 footer>p.f_view{top: 50%; left:42.5%}
}

@media only screen and (max-width: 1200px) {
header{background-size: 105%; height: 820px;}     
     
.sub_pc{height: 820px; background-size: contain; width: 795px }
.sub_pc>video{top: 215px; left: 66px; width: 663px}    body.p4 footer>p.f_view{top: 50%; left:41%}
}

@media only screen and (max-width: 900px) {    
.sub_pc{height: 820px; background-size: contain; width: 695px }
.sub_pc>video{top: 235px; left: 56px; width: 583px} 
footer>p.f_view{top: 60%; left:41%}    
body.p4 footer>p.f_view{top: 50%; left:41%}
 
p{font-size: 1em; width: 150px;}   
}

@media only screen and (max-width: 769px) {
    
header{background-size: 100%; height: 550px;}     
     
.sub_pc{height: 550px; width: 595px }
.sub_pc>video{top: 125px; left: 46px; width: 503px}
    
footer>p.f_view{top: 60%; left:39%}     
body.p4 footer>p.f_view{top: 50%; left:40%}
}

@media only screen and (max-width: 645px) {   
     
.sub_pc{height: 550px; width: 495px }
.sub_pc>video{top: 150px; left: 37px; width: 420px}
     
body.p4 footer>p.f_view{top: 50%; left:40%}
p{font-size: 0.8em; width: 130px;}
    
.sec img{width: 75%;}
#sec1 img{width: 70%} 
}



